.card{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner{
  display: flex;
}

.carousel{
  overflow: hidden;
}