* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.card {
  align-items: center;
  display: flex;
  height: 360px;
  margin: 0 auto;
  max-width: 600px;
  overflow: hidden;
  width: 100%;
}

.inner {
  display: flex;
}

.item {
  height: 300px;
  width: 300px;
}

.item img {
  height: 100%;
  pointer-events: none;
  width: 100%;
}

.carousel {
  cursor: grab;
}
